In [1]:
import wrangle
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = wrangle.get_mall_customers()

In [3]:
wrangle.summerize_df(df)

-----Head-------
   customer_id  gender  age  annual_income  spending_score
0            1    Male   19             15              39
1            2    Male   21             15              81
2            3  Female   20             16               6
-----shape------
200 rows and 5 columns
---info---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   customer_id     200 non-null    int64
 1   gender          200 non-null    object
 2   age             200 non-null    int64
 3   annual_income   200 non-null    int64
 4   spending_score  200 non-null    int64
dtypes: int64(4), object(1)
memory usage: 7.9+ KB
None
       customer_id         age  annual_income  spending_score
count   200.000000  200.000000     200.000000      200.000000
mean    100.500000   38.850000      60.560000       50.200000
std      57.879185   13.969007      26.264721       25.823522
min       1.000000   18.000000      15.000000        1.000000
25%      50.750000   28.750000      41.500000       34.750000
50%     100.500000   36.000000      61.500000       50.000000
75%     150.250000   49.000000      78.000000       73.000000
max     200.000000   70.000000     137.000000       99.000000
----Catagorical Variables----
['gender']
----Continous  Variables----
['customer_id', 'age', 'annual_income', 'spending_score']
--nulls--
customer_id       0
gender            0
age               0
annual_income     0
spending_score    0
dtype: int64
----Value Counts-----
-----------------------
(0.8, 20.9]       20
(20.9, 40.8]      20
(40.8, 60.7]      20
(60.7, 80.6]      20
(80.6, 100.5]     20
(100.5, 120.4]    20
(120.4, 140.3]    20
(140.3, 160.2]    20
(160.2, 180.1]    20
(180.1, 200.0]    20
Name: customer_id, dtype: int64
Female    112
Male       88
Name: gender, dtype: int64
-----------------------
-----------------------
(17.947, 23.2]    31
(23.2, 28.4]      19
(28.4, 33.6]      34
(33.6, 38.8]      29
(38.8, 44.0]      18
(44.0, 49.2]      24
(49.2, 54.4]      15
(54.4, 59.6]      10
(59.6, 64.8]       6
(64.8, 70.0]      14
Name: age, dtype: int64
-----------------------
(14.877, 27.2]    24
(27.2, 39.4]      22
(39.4, 51.6]      28
(51.6, 63.8]      38
(63.8, 76.0]      32
(76.0, 88.2]      34
(88.2, 100.4]      8
(100.4, 112.6]     6
(112.6, 124.8]     4
(124.8, 137.0]     4
Name: annual_income, dtype: int64
-----------------------
(0.901, 10.8]    16
(10.8, 20.6]     20
(20.6, 30.4]     10
(30.4, 40.2]     17
(40.2, 50.0]     40
(50.0, 59.8]     32
(59.8, 69.6]     11
(69.6, 79.4]     24
(79.4, 89.2]     14
(89.2, 99.0]     16
Name: spending_score, dtype: int64

In [4]:
zillow_df = wrangle.get_all_zillow_data()

/opt/homebrew/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3357: DtypeWarning: Columns (63) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [5]:
zillow_df[:5]

,typeconstructiontypeid,storytypeid,propertylandusetypeid,heatingorsystemtypeid,buildingclasstypeid,architecturalstyletypeid,airconditioningtypeid,parcelid,id,basementsqft,...,censustractandblock,logerror,transactiondate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,propertylandusedesc,storydesc,typeconstructiondesc
0,NaN,NaN,261.0,NaN,NaN,NaN,NaN,14297519,1727539,NaN,...,6.059063e+13,0.025595,2017-01-01,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN
1,NaN,NaN,261.0,NaN,NaN,NaN,NaN,17052889,1387261,NaN,...,6.111001e+13,0.055619,2017-01-01,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN
2,NaN,NaN,261.0,NaN,NaN,NaN,NaN,14186244,11677,NaN,...,6.059022e+13,0.005383,2017-01-01,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN
3,NaN,NaN,261.0,2.0,NaN,NaN,NaN,12177905,2288172,NaN,...,6.037300e+13,-0.103410,2017-01-01,NaN,NaN,NaN,Central,Single Family Residential,NaN,NaN
4,NaN,NaN,266.0,2.0,NaN,NaN,1.0,10887214,1970746,NaN,...,6.037124e+13,0.006940,2017-01-01,Central,NaN,NaN,Central,Condominium,NaN,NaN

In [6]:
wrangle.summerize_df(zillow_df)

-----Head-------
   typeconstructiontypeid  storytypeid  propertylandusetypeid  \
0                     NaN          NaN                  261.0
1                     NaN          NaN                  261.0
2                     NaN          NaN                  261.0

   heatingorsystemtypeid  buildingclasstypeid  architecturalstyletypeid  \
0                    NaN                  NaN                       NaN
1                    NaN                  NaN                       NaN
2                    NaN                  NaN                       NaN

   airconditioningtypeid  parcelid       id  basementsqft  ...  \
0                    NaN  14297519  1727539           NaN  ...
1                    NaN  17052889  1387261           NaN  ...
2                    NaN  14186244    11677           NaN  ...

   censustractandblock  logerror  transactiondate  airconditioningdesc  \
0         6.059063e+13  0.025595       2017-01-01                  NaN
1         6.111001e+13  0.055619       2017-01-01                  NaN
2         6.059022e+13  0.005383       2017-01-01                  NaN

   architecturalstyledesc  buildingclassdesc  heatingorsystemdesc  \
0                     NaN                NaN                  NaN
1                     NaN                NaN                  NaN
2                     NaN                NaN                  NaN

         propertylandusedesc  storydesc  typeconstructiondesc
0  Single Family Residential        NaN                   NaN
1  Single Family Residential        NaN                   NaN
2  Single Family Residential        NaN                   NaN

[3 rows x 68 columns]
-----shape------
77575 rows and 68 columns
---info---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77575 entries, 0 to 77574
Data columns (total 68 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   typeconstructiontypeid        222 non-null    float64
 1   storytypeid                   50 non-null     float64
 2   propertylandusetypeid         77575 non-null  float64
 3   heatingorsystemtypeid         49570 non-null  float64
 4   buildingclasstypeid           15 non-null     float64
 5   architecturalstyletypeid      206 non-null    float64
 6   airconditioningtypeid         25006 non-null  float64
 7   parcelid                      77575 non-null  int64
 8   id                            77575 non-null  int64
 9   basementsqft                  50 non-null     float64
 10  bathroomcnt                   77575 non-null  float64
 11  bedroomcnt                    77575 non-null  float64
 12  buildingqualitytypeid         49809 non-null  float64
 13  calculatedbathnbr             76960 non-null  float64
 14  decktypeid                    614 non-null    float64
 15  finishedfloor1squarefeet      6035 non-null   float64
 16  calculatedfinishedsquarefeet  77375 non-null  float64
 17  finishedsquarefeet12          73920 non-null  float64
 18  finishedsquarefeet13          42 non-null     float64
 19  finishedsquarefeet15          3027 non-null   float64
 20  finishedsquarefeet50          6035 non-null   float64
 21  finishedsquarefeet6           386 non-null    float64
 22  fips                          77575 non-null  float64
 23  fireplacecnt                  8287 non-null   float64
 24  fullbathcnt                   76960 non-null  float64
 25  garagecarcnt                  25517 non-null  float64
 26  garagetotalsqft               25517 non-null  float64
 27  hashottuborspa                1539 non-null   float64
 28  latitude                      77575 non-null  float64
 29  longitude                     77575 non-null  float64
 30  lotsizesquarefeet             69318 non-null  float64
 31  poolcnt                       16173 non-null  float64
 32  poolsizesum                   869 non-null    float64
 33  pooltypeid10                  465 non-null    float64
 34  pooltypeid2                   1074 non-null   float64
 35  pooltypeid7                   15078 non-null  float64
 36  propertycountylandusecode     77575 non-null  object
 37  propertyzoningdesc            50475 non-null  object
 38  rawcensustractandblock        77575 non-null  float64
 39  regionidcity                  76103 non-null  float64
 40  regionidcounty                77575 non-null  float64
 41  regionidneighborhood          30973 non-null  float64
 42  regionidzip                   77525 non-null  float64
 43  roomcnt                       77575 non-null  float64
 44  threequarterbathnbr           10105 non-null  float64
 45  unitcnt                       50703 non-null  float64
 46  yardbuildingsqft17            2393 non-null   float64
 47  yardbuildingsqft26            70 non-null     float64
 48  yearbuilt                     77306 non-null  float64
 49  numberofstories               17596 non-null  float64
 50  fireplaceflag                 172 non-null    float64
 51  structuretaxvaluedollarcnt    77460 non-null  float64
 52  taxvaluedollarcnt             77574 non-null  float64
 53  assessmentyear                77575 non-null  float64
 54  landtaxvaluedollarcnt         77573 non-null  float64
 55  taxamount                     77570 non-null  float64
 56  taxdelinquencyflag            2900 non-null   object
 57  taxdelinquencyyear            2900 non-null   float64
 58  censustractandblock           77328 non-null  float64
 59  logerror                      77575 non-null  float64
 60  transactiondate               77575 non-null  object
 61  airconditioningdesc           25006 non-null  object
 62  architecturalstyledesc        206 non-null    object
 63  buildingclassdesc             15 non-null     object
 64  heatingorsystemdesc           49570 non-null  object
 65  propertylandusedesc           77575 non-null  object
 66  storydesc                     50 non-null     object
 67  typeconstructiondesc          222 non-null    object
dtypes: float64(55), int64(2), object(11)
memory usage: 40.2+ MB
None
       typeconstructiontypeid  storytypeid  propertylandusetypeid  \
count              222.000000         50.0           77575.000000
mean                 6.040541          7.0             261.824467
std                  0.557285          0.0               5.141701
min                  4.000000          7.0              31.000000
25%                  6.000000          7.0             261.000000
50%                  6.000000          7.0             261.000000
75%                  6.000000          7.0             266.000000
max                 13.000000          7.0             275.000000

       heatingorsystemtypeid  buildingclasstypeid  architecturalstyletypeid  \
count           49570.000000            15.000000                206.000000
mean                3.921707             3.933333                  7.388350
std                 3.594804             0.258199                  2.734542
min                 1.000000             3.000000                  2.000000
25%                 2.000000             4.000000                  7.000000
50%                 2.000000             4.000000                  7.000000
75%                 7.000000             4.000000                  7.000000
max                24.000000             4.000000                 21.000000

       airconditioningtypeid      parcelid            id  basementsqft  ...  \
count           25006.000000  7.757500e+04  7.757500e+04     50.000000  ...
mean                1.812045  1.300630e+07  1.495352e+06    679.720000  ...
std                 2.965823  3.478021e+06  8.609703e+05    689.703546  ...
min                 1.000000  1.071186e+07  3.490000e+02     38.000000  ...
25%                 1.000000  1.153820e+07  7.521050e+05    273.000000  ...
50%                 1.000000  1.253053e+07  1.498195e+06    515.000000  ...
75%                 1.000000  1.421124e+07  2.240715e+06    796.500000  ...
max                13.000000  1.676893e+08  2.982274e+06   3560.000000  ...

       numberofstories  fireplaceflag  structuretaxvaluedollarcnt  \
count     17596.000000          172.0                7.746000e+04
mean          1.434246            1.0                1.892815e+05
std           0.544518            0.0                2.304137e+05
min           1.000000            1.0                4.400000e+01
25%           1.000000            1.0                8.418200e+04
50%           1.000000            1.0                1.364045e+05
75%           2.000000            1.0                2.187340e+05
max           6.000000            1.0                1.142179e+07

       taxvaluedollarcnt  assessmentyear  landtaxvaluedollarcnt  \
count       7.757400e+04         77575.0           7.757300e+04
mean        4.901447e+05          2016.0           3.011453e+05
std         6.538022e+05             0.0           4.927287e+05
min         1.000000e+03          2016.0           1.610000e+02
25%         2.068985e+05          2016.0           8.529300e+04
50%         3.588785e+05          2016.0           2.031740e+05
75%         5.690000e+05          2016.0           3.667530e+05
max         4.906124e+07          2016.0           4.895220e+07

           taxamount  taxdelinquencyyear  censustractandblock      logerror
count   77570.000000         2900.000000         7.732800e+04  77575.000000
mean     5995.821528           14.088276         6.049666e+13      0.016802
std      7628.869090            2.181281         1.533376e+12      0.170743
min        19.920000            3.000000         6.037101e+13     -4.655420
25%      2712.630000           14.000000         6.037311e+13     -0.024311
50%      4448.265000           15.000000         6.037603e+13      0.006672
75%      6926.785000           15.000000         6.059042e+13      0.039291
max    586639.300000           99.000000         4.830301e+14      5.262999

[8 rows x 57 columns]
----Catagorical Variables----
['propertycountylandusecode', 'propertyzoningdesc', 'taxdelinquencyflag', 'transactiondate', 'airconditioningdesc', 'architecturalstyledesc', 'buildingclassdesc', 'heatingorsystemdesc', 'propertylandusedesc', 'storydesc', 'typeconstructiondesc']
----Continous  Variables----
['typeconstructiontypeid', 'storytypeid', 'propertylandusetypeid', 'heatingorsystemtypeid', 'buildingclasstypeid', 'architecturalstyletypeid', 'airconditioningtypeid', 'parcelid', 'id', 'basementsqft', 'bathroomcnt', 'bedroomcnt', 'buildingqualitytypeid', 'calculatedbathnbr', 'decktypeid', 'finishedfloor1squarefeet', 'calculatedfinishedsquarefeet', 'finishedsquarefeet12', 'finishedsquarefeet13', 'finishedsquarefeet15', 'finishedsquarefeet50', 'finishedsquarefeet6', 'fips', 'fireplacecnt', 'fullbathcnt', 'garagecarcnt', 'garagetotalsqft', 'hashottuborspa', 'latitude', 'longitude', 'lotsizesquarefeet', 'poolcnt', 'poolsizesum', 'pooltypeid10', 'pooltypeid2', 'pooltypeid7', 'rawcensustractandblock', 'regionidcity', 'regionidcounty', 'regionidneighborhood', 'regionidzip', 'roomcnt', 'threequarterbathnbr', 'unitcnt', 'yardbuildingsqft17', 'yardbuildingsqft26', 'yearbuilt', 'numberofstories', 'fireplaceflag', 'structuretaxvaluedollarcnt', 'taxvaluedollarcnt', 'assessmentyear', 'landtaxvaluedollarcnt', 'taxamount', 'taxdelinquencyyear', 'censustractandblock', 'logerror']
--nulls--
typeconstructiontypeid    77353
storytypeid               77525
propertylandusetypeid         0
heatingorsystemtypeid     28005
buildingclasstypeid       77560
                          ...
buildingclassdesc         77560
heatingorsystemdesc       28005
propertylandusedesc           0
storydesc                 77525
typeconstructiondesc      77353
Length: 68, dtype: int64
----Value Counts-----
-----------------------
(3.99, 4.9]       1
(4.9, 5.8]        0
(5.8, 6.7]      219
(6.7, 7.6]        0
(7.6, 8.5]        0
(8.5, 9.4]        0
(9.4, 10.3]       1
(10.3, 11.2]      0
(11.2, 12.1]      0
(12.1, 13.0]      1
Name: typeconstructiontypeid, dtype: int64
-----------------------
(6.992, 6.994]     0
(6.994, 6.996]     0
(6.996, 6.997]     0
(6.997, 6.999]     0
(6.999, 7.0]      50
(7.0, 7.001]       0
(7.001, 7.003]     0
(7.003, 7.004]     0
(7.004, 7.006]     0
(7.006, 7.007]     0
Name: storytypeid, dtype: int64
-----------------------
(30.755, 55.4]       15
(55.4, 79.8]          0
(79.8, 104.2]         0
(104.2, 128.6]        0
(128.6, 153.0]        0
(153.0, 177.4]        0
(177.4, 201.8]        0
(201.8, 226.2]        0
(226.2, 250.6]     3289
(250.6, 275.0]    74271
Name: propertylandusetypeid, dtype: int64
-----------------------
(0.976, 3.3]    33646
(3.3, 5.6]          0
(5.6, 7.9]      14883
(7.9, 10.2]         3
(10.2, 12.5]        1
(12.5, 14.8]       60
(14.8, 17.1]        0
(17.1, 19.4]       23
(19.4, 21.7]      104
(21.7, 24.0]      850
Name: heatingorsystemtypeid, dtype: int64
-----------------------
(2.998, 3.1]     1
(3.1, 3.2]       0
(3.2, 3.3]       0
(3.3, 3.4]       0
(3.4, 3.5]       0
(3.5, 3.6]       0
(3.6, 3.7]       0
(3.7, 3.8]       0
(3.8, 3.9]       0
(3.9, 4.0]      14
Name: buildingclasstypeid, dtype: int64
-----------------------
(1.9800000000000002, 3.9]      8
(3.9, 5.8]                     0
(5.8, 7.7]                   172
(7.7, 9.6]                    19
(9.6, 11.5]                    0
(11.5, 13.4]                   0
(13.4, 15.3]                   0
(15.3, 17.2]                   0
(17.2, 19.1]                   0
(19.1, 21.0]                   7
Name: architecturalstyletypeid, dtype: int64
-----------------------
(0.987, 2.2]    23185
(2.2, 3.4]          0
(3.4, 4.6]          0
(4.6, 5.8]        167
(5.8, 7.0]          0
(7.0, 8.2]          0
(8.2, 9.4]         26
(9.4, 10.6]         0
(10.6, 11.8]       53
(11.8, 13.0]     1575
Name: airconditioningtypeid, dtype: int64
-----------------------
(10554877.537, 26409601.2]    77544
(26409601.2, 42107347.4]          0
(42107347.4, 57805093.6]          0
(57805093.6, 73502839.8]          0
(73502839.8, 89200586.0]          1
(89200586.0, 104898332.2]         1
(104898332.2, 120596078.4]        0
(120596078.4, 136293824.6]        0
(136293824.6, 151991570.8]        0
(151991570.8, 167689317.0]       29
Name: parcelid, dtype: int64
-----------------------
(-2632.9260000000004, 298541.5]    7754
(298541.5, 596734.0]               7708
(596734.0, 894926.5]               7595
(894926.5, 1193119.0]              7714
(1193119.0, 1491311.5]             7844
(1491311.5, 1789504.0]             7826
(1789504.0, 2087696.5]             7824
(2087696.5, 2385889.0]             7713
(2385889.0, 2684081.5]             7735
(2684081.5, 2982274.0]             7862
Name: id, dtype: int64
-----------------------
(34.477000000000004, 390.2]    20
(390.2, 742.4]                 16
(742.4, 1094.6]                 7
(1094.6, 1446.8]                3
(1446.8, 1799.0]                0
(1799.0, 2151.2]                2
(2151.2, 2503.4]                0
(2503.4, 2855.6]                0
(2855.6, 3207.8]                1
(3207.8, 3560.0]                1
Name: basementsqft, dtype: int64
-----------------------
(-0.019, 1.8]    14961
(1.8, 3.6]       56571
(3.6, 5.4]        5077
(5.4, 7.2]         804
(7.2, 9.0]         150
(9.0, 10.8]          7
(10.8, 12.6]         3
(12.6, 14.4]         1
(14.4, 16.2]         0
(16.2, 18.0]         1
Name: bathroomcnt, dtype: int64
-----------------------
(-0.017, 1.6]     4227
(1.6, 3.2]       49658
(3.2, 4.8]       17549
(4.8, 6.4]        5550
(6.4, 8.0]         461
(8.0, 9.6]          70
(9.6, 11.2]         40
(11.2, 12.8]        16
(12.8, 14.4]         3
(14.4, 16.0]         1
Name: bedroomcnt, dtype: int64
-----------------------
(0.988, 2.1]       35
(2.1, 3.2]        335
(3.2, 4.3]       9508
(4.3, 5.4]       2099
(5.4, 6.5]      13501
(6.5, 7.6]       5981
(7.6, 8.7]      14685
(8.7, 9.8]       2303
(9.8, 10.9]       313
(10.9, 12.0]     1049
Name: buildingqualitytypeid, dtype: int64
-----------------------
(0.982, 2.7]    52528
(2.7, 4.4]      21745
(4.4, 6.1]       2364
(6.1, 7.8]        177
(7.8, 9.5]        134
(9.5, 11.2]        10
(11.2, 12.9]        0
(12.9, 14.6]        1
(14.6, 16.3]        0
(16.3, 18.0]        1
Name: calculatedbathnbr, dtype: int64
-----------------------
(65.93299999999999, 65.947]      0
(65.947, 65.96]                  0
(65.96, 65.974]                  0
(65.974, 65.987]                 0
(65.987, 66.0]                 614
(66.0, 66.013]                   0
(66.013, 66.026]                 0
(66.026, 66.04]                  0
(66.04, 66.053]                  0
(66.053, 66.066]                 0
Name: decktypeid, dtype: int64
-----------------------
(37.131, 730.8]      702
(730.8, 1417.6]     3035
(1417.6, 2104.4]    1735
(2104.4, 2791.2]     336
(2791.2, 3478.0]     136
(3478.0, 4164.8]      43
(4164.8, 4851.6]      26
(4851.6, 5538.4]      12
(5538.4, 6225.2]       6
(6225.2, 6912.0]       4
Name: finishedfloor1squarefeet, dtype: int64
-----------------------
(92.487, 3679.2]      74064
(3679.2, 7230.4]       3138
(7230.4, 10781.6]       150
(10781.6, 14332.8]       15
(14332.8, 17884.0]        3
(17884.0, 21435.2]        3
(21435.2, 24986.4]        1
(24986.4, 28537.6]        0
(28537.6, 32088.8]        0
(32088.8, 35640.0]        1
Name: calculatedfinishedsquarefeet, dtype: int64
-----------------------
(106.198, 2308.1]     59740
(2308.1, 4488.2]      12883
(4488.2, 6668.3]       1070
(6668.3, 8848.4]        163
(8848.4, 11028.5]        45
(11028.5, 13208.6]       12
(13208.6, 15388.7]        2
(15388.7, 17568.8]        2
(17568.8, 19748.9]        1
(19748.9, 21929.0]        2
Name: finishedsquarefeet12, dtype: int64
-----------------------
(1055.4950000000001, 1106.4]     2
(1106.4, 1156.8]                 2
(1156.8, 1207.2]                 1
(1207.2, 1257.6]                 2
(1257.6, 1308.0]                 1
(1308.0, 1358.4]                 6
(1358.4, 1408.8]                 2
(1408.8, 1459.2]                18
(1459.2, 1509.6]                 3
(1509.6, 1560.0]                 5
Name: finishedsquarefeet13, dtype: int64
-----------------------
(562.957, 4102.2]     2829
(4102.2, 7606.4]       193
(7606.4, 11110.6]        3
(11110.6, 14614.8]       0
(14614.8, 18119.0]       0
(18119.0, 21623.2]       1
(21623.2, 25127.4]       0
(25127.4, 28631.6]       0
(28631.6, 32135.8]       0
(32135.8, 35640.0]       1
Name: finishedsquarefeet15, dtype: int64
-----------------------
(31.576, 1286.3]      3145
(1286.3, 2528.6]      2557
(2528.6, 3770.9]       243
(3770.9, 5013.2]        62
(5013.2, 6255.5]        17
(6255.5, 7497.8]         7
(7497.8, 8740.1]         2
(8740.1, 9982.4]         1
(9982.4, 11224.7]        0
(11224.7, 12467.0]       1
Name: finishedsquarefeet50, dtype: int64
-----------------------
(374.781, 901.8]    67
(901.8, 1423.6]     95
(1423.6, 1945.4]    45
(1945.4, 2467.2]    46
(2467.2, 2989.0]    30
(2989.0, 3510.8]    33
(3510.8, 4032.6]    31
(4032.6, 4554.4]    33
(4554.4, 5076.2]     4
(5076.2, 5598.0]     2
Name: finishedsquarefeet6, dtype: int64
-----------------------
(6036.925, 6044.4]    50695
(6044.4, 6051.8]          0
(6051.8, 6059.2]      20630
(6059.2, 6066.6]          0
(6066.6, 6074.0]          0
(6074.0, 6081.4]          0
(6081.4, 6088.8]          0
(6088.8, 6096.2]          0
(6096.2, 6103.6]          0
(6103.6, 6111.0]       6250
Name: fips, dtype: int64
-----------------------
(0.995, 1.4]    7016
(1.4, 1.8]         0
(1.8, 2.2]       998
(2.2, 2.6]         0
(2.6, 3.0]       235
(3.0, 3.4]         0
(3.4, 3.8]         0
(3.8, 4.2]        35
(4.2, 4.6]         0
(4.6, 5.0]         3
Name: fireplacecnt, dtype: int64
-----------------------
(0.982, 2.7]    52545
(2.7, 4.4]      22446
(4.4, 6.1]       1701
(6.1, 7.8]        122
(7.8, 9.5]        134
(9.5, 11.2]        10
(11.2, 12.9]        0
(12.9, 14.6]        1
(14.6, 16.3]        0
(16.3, 18.0]        1
Name: fullbathcnt, dtype: int64
-----------------------
(-0.015, 1.4]     5919
(1.4, 2.8]       18637
(2.8, 4.2]         888
(4.2, 5.6]          45
(5.6, 7.0]          18
(7.0, 8.4]           2
(8.4, 9.8]           2
(9.8, 11.2]          4

In [7]:
cols , rows = wrangle.get_nulls(zillow_df)

<class 'pandas.core.series.Series'>

In [8]:
cols

                        num_rows_missing  percent_rows_missing
typeconstructiontypeid             77353             99.713825
storytypeid                        77525             99.935546
propertylandusetypeid                  0              0.000000
heatingorsystemtypeid              28005             36.100548
buildingclasstypeid                77560             99.980664
...                                  ...                   ...
buildingclassdesc                  77560             99.980664
heatingorsystemdesc                28005             36.100548
propertylandusedesc                    0              0.000000
storydesc                          77525             99.935546
typeconstructiondesc               77353             99.713825

[68 rows x 2 columns]

In [9]:
rows

   num_cols_missing percent_cols_missing  num_rows
0                23    33.82352941176471         2
1                24   35.294117647058826        13
2                25    36.76470588235294        24
3                26    38.23529411764706        65
4                27   39.705882352941174       316
5                28    41.17647058823529       457
6                29    42.64705882352941      5285
7                30    44.11764705882353      3465
8                31   45.588235294117645      9911
9                32    47.05882352941176     12606
10               33   48.529411764705884     14817
11               34                 50.0     13357
12               35   51.470588235294116      5163
13               36    52.94117647058824      5793
14               37    54.41176470588235      3630
15               38    55.88235294117647      1932
16               39    57.35294117647059       285
17               40    58.82352941176471       230
18               41    60.29411764705882        29
19               42    61.76470588235294        26
20               43    63.23529411764706        29
21               44    64.70588235294117        79
22               45    66.17647058823529        50
23               46    67.64705882352942         5
24               47    69.11764705882352         3
25               48    70.58823529411765         3

### Prepare

In [10]:
for i in zillow_df:
    if i == 'bedroomcnt' or i =='bathroomcnt':
        zillow_df = wrangle.handle_outliers(zillow_df, i, .10, .65)

In [11]:
zillow_df.shape

(70034, 68)

In [12]:
zillow_df = wrangle.drop_nulls(zillow_df, 1, 98)

<class 'pandas.core.series.Series'>

In [13]:
zillow_df.shape

(70034, 50)

In [57]:
rows = wrangle.get_nulls(zillow_df)[1]
for i in zillow_df.columns:
    for j in len(zillow_df):
        print(j)

<class 'pandas.core.series.Series'>

TypeError: 'int' object is not iterable

In [44]:
for i in zillow_df:
    print(i)

propertylandusetypeid
heatingorsystemtypeid
airconditioningtypeid
parcelid
id
bathroomcnt
bedroomcnt
buildingqualitytypeid
calculatedbathnbr
finishedfloor1squarefeet
calculatedfinishedsquarefeet
finishedsquarefeet12
finishedsquarefeet15
finishedsquarefeet50
fips
fireplacecnt
fullbathcnt
garagecarcnt
garagetotalsqft
latitude
longitude
lotsizesquarefeet
poolcnt
pooltypeid7
propertycountylandusecode
propertyzoningdesc
rawcensustractandblock
regionidcity
regionidcounty
regionidneighborhood
regionidzip
roomcnt
threequarterbathnbr
unitcnt
yardbuildingsqft17
yearbuilt
numberofstories
structuretaxvaluedollarcnt
taxvaluedollarcnt
assessmentyear
landtaxvaluedollarcnt
taxamount
taxdelinquencyflag
taxdelinquencyyear
censustractandblock
logerror
transactiondate
airconditioningdesc
heatingorsystemdesc
propertylandusedesc