In [1]:
import wrangle
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = wrangle.get_mall_customers()

In [3]:
wrangle.summerize_df(df)

-----Head-------
   customer_id  gender  age  annual_income  spending_score
0            1    Male   19             15              39
1            2    Male   21             15              81
2            3  Female   20             16               6
-----shape------
200 rows and 5 columns
---info---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   customer_id     200 non-null    int64
 1   gender          200 non-null    object
 2   age             200 non-null    int64
 3   annual_income   200 non-null    int64
 4   spending_score  200 non-null    int64
dtypes: int64(4), object(1)
memory usage: 7.9+ KB
None
       customer_id         age  annual_income  spending_score
count   200.000000  200.000000     200.000000      200.000000
mean    100.500000   38.850000      60.560000       50.200000
std      57.879185   13.969007      26.264721       25.823522
min       1.000000   18.000000      15.000000        1.000000
25%      50.750000   28.750000      41.500000       34.750000
50%     100.500000   36.000000      61.500000       50.000000
75%     150.250000   49.000000      78.000000       73.000000
max     200.000000   70.000000     137.000000       99.000000
----Catagorical Variables----
['gender']
----Continous  Variables----
['customer_id', 'age', 'annual_income', 'spending_score']
--nulls--
customer_id       0
gender            0
age               0
annual_income     0
spending_score    0
dtype: int64
----Value Counts-----
-----------------------
(0.8, 20.9]       20
(20.9, 40.8]      20
(40.8, 60.7]      20
(60.7, 80.6]      20
(80.6, 100.5]     20
(100.5, 120.4]    20
(120.4, 140.3]    20
(140.3, 160.2]    20
(160.2, 180.1]    20
(180.1, 200.0]    20
Name: customer_id, dtype: int64
Female    112
Male       88
Name: gender, dtype: int64
-----------------------
-----------------------
(17.947, 23.2]    31
(23.2, 28.4]      19
(28.4, 33.6]      34
(33.6, 38.8]      29
(38.8, 44.0]      18
(44.0, 49.2]      24
(49.2, 54.4]      15
(54.4, 59.6]      10
(59.6, 64.8]       6
(64.8, 70.0]      14
Name: age, dtype: int64
-----------------------
(14.877, 27.2]    24
(27.2, 39.4]      22
(39.4, 51.6]      28
(51.6, 63.8]      38
(63.8, 76.0]      32
(76.0, 88.2]      34
(88.2, 100.4]      8
(100.4, 112.6]     6
(112.6, 124.8]     4
(124.8, 137.0]     4
Name: annual_income, dtype: int64
-----------------------
(0.901, 10.8]    16
(10.8, 20.6]     20
(20.6, 30.4]     10
(30.4, 40.2]     17
(40.2, 50.0]     40
(50.0, 59.8]     32
(59.8, 69.6]     11
(69.6, 79.4]     24
(79.4, 89.2]     14
(89.2, 99.0]     16
Name: spending_score, dtype: int64

In [4]:
zillow_df = wrangle.get_all_zillow_data()

/opt/homebrew/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3357: DtypeWarning: Columns (67) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [5]:
zillow_df[:5]

,typeconstructiontypeid,storytypeid,propertylandusetypeid,heatingorsystemtypeid,buildingclasstypeid,architecturalstyletypeid,airconditioningtypeid,parcelid,id,basementsqft,...,parcelid.1,logerror.1,transactiondate.1,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,propertylandusedesc,storydesc,typeconstructiondesc
0,NaN,NaN,261.0,NaN,NaN,NaN,NaN,14297519,1727539,NaN,...,14297519,0.025595,2017-01-01,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN
1,NaN,NaN,261.0,NaN,NaN,NaN,NaN,17052889,1387261,NaN,...,17052889,0.055619,2017-01-01,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN
2,NaN,NaN,261.0,NaN,NaN,NaN,NaN,14186244,11677,NaN,...,14186244,0.005383,2017-01-01,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN
3,NaN,NaN,261.0,2.0,NaN,NaN,NaN,12177905,2288172,NaN,...,12177905,-0.103410,2017-01-01,NaN,NaN,NaN,Central,Single Family Residential,NaN,NaN
4,NaN,NaN,266.0,2.0,NaN,NaN,1.0,10887214,1970746,NaN,...,10887214,0.006940,2017-01-01,Central,NaN,NaN,Central,Condominium,NaN,NaN

In [6]:
wrangle.summerize_df(zillow_df)

-----Head-------
   typeconstructiontypeid  storytypeid  propertylandusetypeid  \
0                     NaN          NaN                  261.0
1                     NaN          NaN                  261.0
2                     NaN          NaN                  261.0

   heatingorsystemtypeid  buildingclasstypeid  architecturalstyletypeid  \
0                    NaN                  NaN                       NaN
1                    NaN                  NaN                       NaN
2                    NaN                  NaN                       NaN

   airconditioningtypeid  parcelid       id  basementsqft  ...  parcelid.1  \
0                    NaN  14297519  1727539           NaN  ...    14297519
1                    NaN  17052889  1387261           NaN  ...    17052889
2                    NaN  14186244    11677           NaN  ...    14186244

   logerror.1  transactiondate.1  airconditioningdesc  architecturalstyledesc  \
0    0.025595         2017-01-01                  NaN                     NaN
1    0.055619         2017-01-01                  NaN                     NaN
2    0.005383         2017-01-01                  NaN                     NaN

   buildingclassdesc  heatingorsystemdesc        propertylandusedesc  \
0                NaN                  NaN  Single Family Residential
1                NaN                  NaN  Single Family Residential
2                NaN                  NaN  Single Family Residential

   storydesc  typeconstructiondesc
0        NaN                   NaN
1        NaN                   NaN
2        NaN                   NaN

[3 rows x 72 columns]
-----shape------
77974 rows and 72 columns
---info---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77974 entries, 0 to 77973
Data columns (total 72 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   typeconstructiontypeid        223 non-null    float64
 1   storytypeid                   50 non-null     float64
 2   propertylandusetypeid         77974 non-null  float64
 3   heatingorsystemtypeid         49837 non-null  float64
 4   buildingclasstypeid           15 non-null     float64
 5   architecturalstyletypeid      207 non-null    float64
 6   airconditioningtypeid         25113 non-null  float64
 7   parcelid                      77974 non-null  int64
 8   id                            77974 non-null  int64
 9   basementsqft                  50 non-null     float64
 10  bathroomcnt                   77974 non-null  float64
 11  bedroomcnt                    77974 non-null  float64
 12  buildingqualitytypeid         50089 non-null  float64
 13  calculatedbathnbr             77345 non-null  float64
 14  decktypeid                    614 non-null    float64
 15  finishedfloor1squarefeet      6061 non-null   float64
 16  calculatedfinishedsquarefeet  77764 non-null  float64
 17  finishedsquarefeet12          74269 non-null  float64
 18  finishedsquarefeet13          44 non-null     float64
 19  finishedsquarefeet15          3065 non-null   float64
 20  finishedsquarefeet50          6061 non-null   float64
 21  finishedsquarefeet6           386 non-null    float64
 22  fips                          77974 non-null  float64
 23  fireplacecnt                  8311 non-null   float64
 24  fullbathcnt                   77345 non-null  float64
 25  garagecarcnt                  25606 non-null  float64
 26  garagetotalsqft               25606 non-null  float64
 27  hashottuborspa                1541 non-null   float64
 28  latitude                      77974 non-null  float64
 29  longitude                     77974 non-null  float64
 30  lotsizesquarefeet             69678 non-null  float64
 31  poolcnt                       16246 non-null  float64
 32  poolsizesum                   873 non-null    float64
 33  pooltypeid10                  467 non-null    float64
 34  pooltypeid2                   1074 non-null   float64
 35  pooltypeid7                   15151 non-null  float64
 36  propertycountylandusecode     77974 non-null  object
 37  propertyzoningdesc            50771 non-null  object
 38  rawcensustractandblock        77974 non-null  float64
 39  regionidcity                  76500 non-null  float64
 40  regionidcounty                77974 non-null  float64
 41  regionidneighborhood          31143 non-null  float64
 42  regionidzip                   77924 non-null  float64
 43  roomcnt                       77974 non-null  float64
 44  threequarterbathnbr           10124 non-null  float64
 45  unitcnt                       50989 non-null  float64
 46  yardbuildingsqft17            2403 non-null   float64
 47  yardbuildingsqft26            70 non-null     float64
 48  yearbuilt                     77691 non-null  float64
 49  numberofstories               17671 non-null  float64
 50  fireplaceflag                 172 non-null    float64
 51  structuretaxvaluedollarcnt    77853 non-null  float64
 52  taxvaluedollarcnt             77973 non-null  float64
 53  assessmentyear                77974 non-null  float64
 54  landtaxvaluedollarcnt         77972 non-null  float64
 55  taxamount                     77969 non-null  float64
 56  taxdelinquencyflag            2928 non-null   object
 57  taxdelinquencyyear            2928 non-null   float64
 58  censustractandblock           77719 non-null  float64
 59  logerror                      77974 non-null  float64
 60  transactiondate               77974 non-null  object
 61  id.1                          77974 non-null  int64
 62  parcelid.1                    77974 non-null  int64
 63  logerror.1                    77974 non-null  float64
 64  transactiondate.1             77974 non-null  object
 65  airconditioningdesc           25113 non-null  object
 66  architecturalstyledesc        207 non-null    object
 67  buildingclassdesc             15 non-null     object
 68  heatingorsystemdesc           49837 non-null  object
 69  propertylandusedesc           77974 non-null  object
 70  storydesc                     50 non-null     object
 71  typeconstructiondesc          223 non-null    object
dtypes: float64(56), int64(4), object(12)
memory usage: 42.8+ MB
None
       typeconstructiontypeid  storytypeid  propertylandusetypeid  \
count              223.000000         50.0           77974.000000
mean                 6.040359          7.0             261.820286
std                  0.556035          0.0               5.142992
min                  4.000000          7.0              31.000000
25%                  6.000000          7.0             261.000000
50%                  6.000000          7.0             261.000000
75%                  6.000000          7.0             266.000000
max                 13.000000          7.0             275.000000

       heatingorsystemtypeid  buildingclasstypeid  architecturalstyletypeid  \
count           49837.000000            15.000000                207.000000
mean                3.924494             3.933333                  7.386473
std                 3.598735             0.258199                  2.728030
min                 1.000000             3.000000                  2.000000
25%                 2.000000             4.000000                  7.000000
50%                 2.000000             4.000000                  7.000000
75%                 7.000000             4.000000                  7.000000
max                24.000000             4.000000                 21.000000

       airconditioningtypeid      parcelid            id  basementsqft  ...  \
count           25113.000000  7.797400e+04  7.797400e+04     50.000000  ...
mean                1.809541  1.300652e+07  1.495836e+06    679.720000  ...
std                 2.961646  3.512518e+06  8.610829e+05    689.703546  ...
min                 1.000000  1.071186e+07  3.490000e+02     38.000000  ...
25%                 1.000000  1.153798e+07  7.521540e+05    273.000000  ...
50%                 1.000000  1.252938e+07  1.499282e+06    515.000000  ...
75%                 1.000000  1.421034e+07  2.241454e+06    796.500000  ...
max                13.000000  1.676893e+08  2.982274e+06   3560.000000  ...

       taxvaluedollarcnt  assessmentyear  landtaxvaluedollarcnt  \
count       7.797300e+04         77974.0           7.797200e+04
mean        4.902347e+05          2016.0           3.013107e+05
std         6.545693e+05             0.0           4.930744e+05
min         1.000000e+03          2016.0           1.610000e+02
25%         2.063620e+05          2016.0           8.497375e+04
50%         3.581540e+05          2016.0           2.030500e+05
75%         5.688040e+05          2016.0           3.667610e+05
max         4.906124e+07          2016.0           4.895220e+07

           taxamount  taxdelinquencyyear  censustractandblock      logerror  \
count   77969.000000         2928.000000         7.771900e+04  77974.000000
mean     5997.319229           14.090164         6.049652e+13      0.016939
std      7641.606190            2.172616         1.529579e+12      0.173230
min        19.920000            3.000000         6.037101e+13     -4.655420
25%      2708.140000           14.000000         6.037311e+13     -0.024420
50%      4445.220000           15.000000         6.037603e+13      0.006673
75%      6925.200000           15.000000         6.059042e+13      0.039340
max    586639.300000           99.000000         4.830301e+14      5.262999

               id.1    parcelid.1    logerror.1
count  77974.000000  7.797400e+04  77974.000000
mean   38725.469002  1.300652e+07      0.016932
std    22406.716106  3.512518e+06      0.173229
min        0.000000  1.071186e+07     -4.655420
25%    19295.250000  1.153798e+07     -0.024425
50%    38681.500000  1.252938e+07      0.006671
75%    58120.750000  1.421034e+07      0.039339
max    77613.000000  1.676893e+08      5.262999

[8 rows x 60 columns]
----Catagorical Variables----
['propertycountylandusecode', 'propertyzoningdesc', 'taxdelinquencyflag', 'transactiondate', 'transactiondate.1', 'airconditioningdesc', 'architecturalstyledesc', 'buildingclassdesc', 'heatingorsystemdesc', 'propertylandusedesc', 'storydesc', 'typeconstructiondesc']
----Continous  Variables----
['typeconstructiontypeid', 'storytypeid', 'propertylandusetypeid', 'heatingorsystemtypeid', 'buildingclasstypeid', 'architecturalstyletypeid', 'airconditioningtypeid', 'parcelid', 'id', 'basementsqft', 'bathroomcnt', 'bedroomcnt', 'buildingqualitytypeid', 'calculatedbathnbr', 'decktypeid', 'finishedfloor1squarefeet', 'calculatedfinishedsquarefeet', 'finishedsquarefeet12', 'finishedsquarefeet13', 'finishedsquarefeet15', 'finishedsquarefeet50', 'finishedsquarefeet6', 'fips', 'fireplacecnt', 'fullbathcnt', 'garagecarcnt', 'garagetotalsqft', 'hashottuborspa', 'latitude', 'longitude', 'lotsizesquarefeet', 'poolcnt', 'poolsizesum', 'pooltypeid10', 'pooltypeid2', 'pooltypeid7', 'rawcensustractandblock', 'regionidcity', 'regionidcounty', 'regionidneighborhood', 'regionidzip', 'roomcnt', 'threequarterbathnbr', 'unitcnt', 'yardbuildingsqft17', 'yardbuildingsqft26', 'yearbuilt', 'numberofstories', 'fireplaceflag', 'structuretaxvaluedollarcnt', 'taxvaluedollarcnt', 'assessmentyear', 'landtaxvaluedollarcnt', 'taxamount', 'taxdelinquencyyear', 'censustractandblock', 'logerror', 'id.1', 'parcelid.1', 'logerror.1']
--nulls--
typeconstructiontypeid    77751
storytypeid               77924
propertylandusetypeid         0
heatingorsystemtypeid     28137
buildingclasstypeid       77959
                          ...
buildingclassdesc         77959
heatingorsystemdesc       28137
propertylandusedesc           0
storydesc                 77924
typeconstructiondesc      77751
Length: 72, dtype: int64
----Value Counts-----
-----------------------
(3.99, 4.9]       1
(4.9, 5.8]        0
(5.8, 6.7]      220
(6.7, 7.6]        0
(7.6, 8.5]        0
(8.5, 9.4]        0
(9.4, 10.3]       1
(10.3, 11.2]      0
(11.2, 12.1]      0
(12.1, 13.0]      1
Name: typeconstructiontypeid, dtype: int64
-----------------------
(6.992, 6.994]     0
(6.994, 6.996]     0
(6.996, 6.997]     0
(6.997, 6.999]     0
(6.999, 7.0]      50
(7.0, 7.001]       0
(7.001, 7.003]     0
(7.003, 7.004]     0
(7.004, 7.006]     0
(7.006, 7.007]     0
Name: storytypeid, dtype: int64
-----------------------
(30.755, 55.4]       15
(55.4, 79.8]          0
(79.8, 104.2]         0
(104.2, 128.6]        0
(128.6, 153.0]        0
(153.0, 177.4]        0
(177.4, 201.8]        0
(201.8, 226.2]        0
(226.2, 250.6]     3327
(250.6, 275.0]    74632
Name: propertylandusetypeid, dtype: int64
-----------------------
(0.976, 3.3]    33812
(3.3, 5.6]          0
(5.6, 7.9]      14974
(7.9, 10.2]         3
(10.2, 12.5]        1
(12.5, 14.8]       62
(14.8, 17.1]        0
(17.1, 19.4]       23
(19.4, 21.7]      104
(21.7, 24.0]      858
Name: heatingorsystemtypeid, dtype: int64
-----------------------
(2.998, 3.1]     1
(3.1, 3.2]       0
(3.2, 3.3]       0
(3.3, 3.4]       0
(3.4, 3.5]       0
(3.5, 3.6]       0
(3.6, 3.7]       0
(3.7, 3.8]       0
(3.8, 3.9]       0
(3.9, 4.0]      14
Name: buildingclasstypeid, dtype: int64
-----------------------
(1.9800000000000002, 3.9]      8
(3.9, 5.8]                     0
(5.8, 7.7]                   173
(7.7, 9.6]                    19
(9.6, 11.5]                    0
(11.5, 13.4]                   0
(13.4, 15.3]                   0
(15.3, 17.2]                   0
(17.2, 19.1]                   0
(19.1, 21.0]                   7
Name: architecturalstyletypeid, dtype: int64
-----------------------
(0.987, 2.2]    23290
(2.2, 3.4]          0
(3.4, 4.6]          0
(4.6, 5.8]        167
(5.8, 7.0]          0
(7.0, 8.2]          0
(8.2, 9.4]         26
(9.4, 10.6]         0
(10.6, 11.8]       53
(11.8, 13.0]     1577
Name: airconditioningtypeid, dtype: int64
-----------------------
(10554877.537, 26409601.2]    77942
(26409601.2, 42107347.4]          0
(42107347.4, 57805093.6]          0
(57805093.6, 73502839.8]          0
(73502839.8, 89200586.0]          1
(89200586.0, 104898332.2]         1
(104898332.2, 120596078.4]        0
(120596078.4, 136293824.6]        0
(136293824.6, 151991570.8]        0
(151991570.8, 167689317.0]       30
Name: parcelid, dtype: int64
-----------------------
(-2632.9260000000004, 298541.5]    7784
(298541.5, 596734.0]               7760
(596734.0, 894926.5]               7617
(894926.5, 1193119.0]              7754
(1193119.0, 1491311.5]             7878
(1491311.5, 1789504.0]             7852
(1789504.0, 2087696.5]             7889
(2087696.5, 2385889.0]             7743
(2385889.0, 2684081.5]             7788
(2684081.5, 2982274.0]             7909
Name: id, dtype: int64
-----------------------
(34.477000000000004, 390.2]    20
(390.2, 742.4]                 16
(742.4, 1094.6]                 7
(1094.6, 1446.8]                3
(1446.8, 1799.0]                0
(1799.0, 2151.2]                2
(2151.2, 2503.4]                0
(2503.4, 2855.6]                0
(2855.6, 3207.8]                1
(3207.8, 3560.0]                1
Name: basementsqft, dtype: int64
-----------------------
(-0.019, 1.8]    15068
(1.8, 3.6]       56846
(3.6, 5.4]        5086
(5.4, 7.2]         812
(7.2, 9.0]         150
(9.0, 10.8]          7
(10.8, 12.6]         3
(12.6, 14.4]         1
(14.4, 16.2]         0
(16.2, 18.0]         1
Name: bathroomcnt, dtype: int64
-----------------------
(-0.017, 1.6]     4265
(1.6, 3.2]       49917
(3.2, 4.8]       17623
(4.8, 6.4]        5568
(6.4, 8.0]         463
(8.0, 9.6]          70
(9.6, 11.2]         42
(11.2, 12.8]        22
(12.8, 14.4]         3
(14.4, 16.0]         1
Name: bedroomcnt, dtype: int64
-----------------------
(0.988, 2.1]       35
(2.1, 3.2]        349
(3.2, 4.3]       9560
(4.3, 5.4]       2123
(5.4, 6.5]      13579
(6.5, 7.6]       6001
(7.6, 8.7]      14765
(8.7, 9.8]       2311
(9.8, 10.9]       313
(10.9, 12.0]     1053
Name: buildingqualitytypeid, dtype: int64
-----------------------
(0.982, 2.7]    52808
(2.7, 4.4]      21840
(4.4, 6.1]       2372
(6.1, 7.8]        179
(7.8, 9.5]        134
(9.5, 11.2]        10
(11.2, 12.9]        0
(12.9, 14.6]        1
(14.6, 16.3]        0
(16.3, 18.0]        1
Name: calculatedbathnbr, dtype: int64
-----------------------
(65.93299999999999, 65.947]      0
(65.947, 65.96]                  0
(65.96, 65.974]                  0
(65.974, 65.987]                 0
(65.987, 66.0]                 614
(66.0, 66.013]                   0
(66.013, 66.026]                 0
(66.026, 66.04]                  0
(66.04, 66.053]                  0
(66.053, 66.066]                 0
Name: decktypeid, dtype: int64
-----------------------
(37.131, 730.8]      702
(730.8, 1417.6]     3056
(1417.6, 2104.4]    1740
(2104.4, 2791.2]     336
(2791.2, 3478.0]     136
(3478.0, 4164.8]      43
(4164.8, 4851.6]      26
(4851.6, 5538.4]      12
(5538.4, 6225.2]       6
(6225.2, 6912.0]       4
Name: finishedfloor1squarefeet, dtype: int64
-----------------------
(92.487, 3679.2]      74439
(3679.2, 7230.4]       3146
(7230.4, 10781.6]       156
(10781.6, 14332.8]       15
(14332.8, 17884.0]        3
(17884.0, 21435.2]        3
(21435.2, 24986.4]        1
(24986.4, 28537.6]        0
(28537.6, 32088.8]        0
(32088.8, 35640.0]        1
Name: calculatedfinishedsquarefeet, dtype: int64
-----------------------
(106.198, 2308.1]     60038
(2308.1, 4488.2]      12926
(4488.2, 6668.3]       1072
(6668.3, 8848.4]        169
(8848.4, 11028.5]        45
(11028.5, 13208.6]       12
(13208.6, 15388.7]        2
(15388.7, 17568.8]        2
(17568.8, 19748.9]        1
(19748.9, 21929.0]        2
Name: finishedsquarefeet12, dtype: int64
-----------------------
(1055.4950000000001, 1106.4]     2
(1106.4, 1156.8]                 2
(1156.8, 1207.2]                 1
(1207.2, 1257.6]                 2
(1257.6, 1308.0]                 1
(1308.0, 1358.4]                 8
(1358.4, 1408.8]                 2
(1408.8, 1459.2]                18
(1459.2, 1509.6]                 3
(1509.6, 1560.0]                 5
Name: finishedsquarefeet13, dtype: int64
-----------------------
(562.957, 4102.2]     2867
(4102.2, 7606.4]       193
(7606.4, 11110.6]        3
(11110.6, 14614.8]       0
(14614.8, 18119.0]       0
(18119.0, 21623.2]       1
(21623.2, 25127.4]       0
(25127.4, 28631.6]       0
(28631.6, 32135.8]       0
(32135.8, 35640.0]       1
Name: finishedsquarefeet15, dtype: int64
-----------------------
(31.576, 1286.3]      3160
(1286.3, 2528.6]      2568
(2528.6, 3770.9]       243
(3770.9, 5013.2]        62
(5013.2, 6255.5]        17
(6255.5, 7497.8]         7
(7497.8, 8740.1]         2
(8740.1, 9982.4]         1
(9982.4, 11224.7]        0
(11224.7, 12467.0]       1
Name: finishedsquarefeet50, dtype: int64
-----------------------
(374.781, 901.8]    67
(901.8, 1423.6]     95
(1423.6, 1945.4]    45
(1945.4, 2467.2]    46
(2467.2, 2989.0]    30
(2989.0, 3510.8]    33
(3510.8, 4032.6]    31
(4032.6, 4554.4]    33
(4554.4, 5076.2]     4
(5076.2, 5598.0]     2
Name: finishedsquarefeet6, dtype: int64
-----------------------
(6036.925, 6044.4]    50991
(6044.4, 6051.8]          0
(6051.8, 6059.2]      20705
(6059.2, 6066.6]          0
(6066.6, 6074.0]          0
(6074.0, 6081.4]          0
(6081.4, 6088.8]          0
(6088.8, 6096.2]          0
(6096.2, 6103.6]          0
(6103.6, 6111.0]       6278
Name: fips, dtype: int64
-----------------------
(0.995, 1.4]    7034
(1.4, 1.8]         0
(1.8, 2.2]      1004
(2.2, 2.6]         0
(2.6, 3.0]       235
(3.0, 3.4]         0
(3.4, 3.8]         0
(3.8, 4.2]        35
(4.2, 4.6]         0
(4.6, 5.0]         3
Name: fireplacecnt, dtype: int64
-----------------------
(0.982, 2.7]    52825
(2.7, 4.4]      22543
(4.4, 6.1]       1707
(6.1, 7.8]        124
(7.8, 9.5]        134
(9.5, 11.2]        10
(11.2, 12.9]        0
(12.9, 14.6]        1
(14.6, 16.3]        0
(16.3, 18.0]        1
Name: fullbathcnt, dtype: int64
-----------------------
(-0.015, 1.4]     5947
(1.4, 2.8]       18696
(2.8, 4.2]         890
(4.2, 5.6]          45

In [7]:
cols , rows = wrangle.get_nulls(zillow_df)

<class 'pandas.core.series.Series'>

In [8]:
cols

                        num_rows_missing  percent_rows_missing
typeconstructiontypeid             77751             99.714007
storytypeid                        77924             99.935876
propertylandusetypeid                  0              0.000000
heatingorsystemtypeid              28137             36.085105
buildingclasstypeid                77959             99.980763
...                                  ...                   ...
buildingclassdesc                  77959             99.980763
heatingorsystemdesc                28137             36.085105
propertylandusedesc                    0              0.000000
storydesc                          77924             99.935876
typeconstructiondesc               77751             99.714007

[72 rows x 2 columns]

In [9]:
rows

   num_cols_missing percent_cols_missing  num_rows
0                23   31.944444444444443         2
1                24    33.33333333333333        13
2                25    34.72222222222222        24
3                26    36.11111111111111        66
4                27                 37.5       316
5                28    38.88888888888889       461
6                29    40.27777777777778      5315
7                30    41.66666666666667      3485
8                31    43.05555555555556      9951
9                32    44.44444444444444     12660
10               33    45.83333333333333     14889
11               34    47.22222222222222     13421
12               35    48.61111111111111      5195
13               36                 50.0      5829
14               37   51.388888888888886      3650
15               38    52.77777777777778      1946
16               39   54.166666666666664       285
17               40    55.55555555555556       230
18               41    56.94444444444444        29
19               42   58.333333333333336        34
20               43    59.72222222222222        31
21               44   61.111111111111114        81
22               45                 62.5        50
23               46   63.888888888888886         5
24               47    65.27777777777779         3
25               48    66.66666666666666         3

### Prepare

In [10]:
zillow_df =wrangle.get_all_zillow_data()

/opt/homebrew/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3357: DtypeWarning: Columns (67) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [11]:
zillow_df.shape

(77974, 72)

In [12]:
#removing the outliers for bathroom cnt and bedroom count is a way to limit house size by room count
for i in zillow_df:
    if i == 'bedroomcnt' or i =='bathroomcnt':
        zillow_df = wrangle.handle_outliers(zillow_df, i, .10, .65)

In [13]:
zillow_df.shape

(70391, 72)

In [14]:
#drop column if its missing 50% or more of its rows
zillow_df = wrangle.drop_nulls(zillow_df, 1, 50)

<class 'pandas.core.series.Series'>

In [15]:
zillow_df.shape

(70391, 38)

In [16]:
#drop row if its missing 20% or more of its columns
zillow_df = wrangle.drop_nulls(zillow_df,0, 20)

In [17]:
zillow_df.shape

(70356, 38)

In [18]:
zillow_df.head(5)

,propertylandusetypeid,heatingorsystemtypeid,parcelid,id,bathroomcnt,bedroomcnt,buildingqualitytypeid,calculatedbathnbr,calculatedfinishedsquarefeet,finishedsquarefeet12,...,taxamount,censustractandblock,logerror,transactiondate,id.1,parcelid.1,logerror.1,transactiondate.1,heatingorsystemdesc,propertylandusedesc
0,261.0,NaN,14297519,1727539,3.5,4.0,NaN,3.5,3100.0,3100.0,...,11013.72,6.059063e+13,0.025595,2017-01-01,0,14297519,0.025595,2017-01-01,NaN,Single Family Residential
1,261.0,NaN,17052889,1387261,1.0,2.0,NaN,1.0,1465.0,1465.0,...,5672.48,6.111001e+13,0.055619,2017-01-01,1,17052889,0.055619,2017-01-01,NaN,Single Family Residential
2,261.0,NaN,14186244,11677,2.0,3.0,NaN,2.0,1243.0,1243.0,...,6488.30,6.059022e+13,0.005383,2017-01-01,2,14186244,0.005383,2017-01-01,NaN,Single Family Residential
3,261.0,2.0,12177905,2288172,3.0,4.0,8.0,3.0,2376.0,2376.0,...,1777.51,6.037300e+13,-0.103410,2017-01-01,3,12177905,-0.103410,2017-01-01,Central,Single Family Residential
4,266.0,2.0,10887214,1970746,3.0,3.0,8.0,3.0,1312.0,1312.0,...,1533.89,6.037124e+13,0.006940,2017-01-01,4,10887214,0.006940,2017-01-01,Central,Condominium

In [19]:
zillow_df.propertylandusedesc.value_counts()

Single Family Residential                     47251
Condominium                                   19105
Planned Unit Development                       1767
Duplex (2 Units, Any Combination)              1360
Cluster Home                                    339
Triplex (3 Units, Any Combination)              220
Quadruplex (4 Units, Any Combination)           180
Mobile Home                                      59
Manufactured, Modular, Prefabricated Homes       35
Cooperative                                      29
Townhouse                                         6
Residential General                               5
Name: propertylandusedesc, dtype: int64

In [20]:
zillow_df.isna().sum()

propertylandusetypeid               0
heatingorsystemtypeid           24476
parcelid                            0
id                                  0
bathroomcnt                         0
bedroomcnt                          0
buildingqualitytypeid           24873
calculatedbathnbr                   1
calculatedfinishedsquarefeet        3
finishedsquarefeet12             1929
fips                                0
fullbathcnt                         1
latitude                            0
longitude                           0
lotsizesquarefeet                8064
propertycountylandusecode           0
propertyzoningdesc              24517
rawcensustractandblock              0
regionidcity                     1228
regionidcounty                      0
regionidzip                        27
roomcnt                             0
unitcnt                         24475
yearbuilt                          40
structuretaxvaluedollarcnt         81
taxvaluedollarcnt                   0
assessmentyear                      0
landtaxvaluedollarcnt               0
taxamount                           5
censustractandblock               183
logerror                            0
transactiondate                     0
id.1                                0
parcelid.1                          0
logerror.1                          0
transactiondate.1                   0
heatingorsystemdesc             24476
propertylandusedesc                 0
dtype: int64

In [21]:
zillow_df = zillow_df.dropna()

In [22]:
zillow_df.isna().sum()

propertylandusetypeid           0
heatingorsystemtypeid           0
parcelid                        0
id                              0
bathroomcnt                     0
bedroomcnt                      0
buildingqualitytypeid           0
calculatedbathnbr               0
calculatedfinishedsquarefeet    0
finishedsquarefeet12            0
fips                            0
fullbathcnt                     0
latitude                        0
longitude                       0
lotsizesquarefeet               0
propertycountylandusecode       0
propertyzoningdesc              0
rawcensustractandblock          0
regionidcity                    0
regionidcounty                  0
regionidzip                     0
roomcnt                         0
unitcnt                         0
yearbuilt                       0
structuretaxvaluedollarcnt      0
taxvaluedollarcnt               0
assessmentyear                  0
landtaxvaluedollarcnt           0
taxamount                       0
censustractandblock             0
logerror                        0
transactiondate                 0
id.1                            0
parcelid.1                      0
logerror.1                      0
transactiondate.1               0
heatingorsystemdesc             0
propertylandusedesc             0
dtype: int64

In [24]:
zillow_df.parcelid.value_counts()

13083743    6
12535098    4
11705026    4
12224279    4
10739478    4
           ..
11199798    1
12643639    1
10786104    1
11226556    1
11499454    1
Name: parcelid, Length: 40725, dtype: int64

###